<header>
    <div class="darkmodediv">
        <label class="form-switch" >
            <input type="checkbox" (click)="toggleDarkMode($event)">
            <i></i>
        </label>
    </div>
    <p>
        
        AC DASHBOARD
        <span class="menuBtn">
            <img src="Images/icon2.svg" alt="Toggle Button">
        </span>
    </p>
    <nav id="navigation-list">
        <ul>
            <li><a onclick="OnWeer()">Weer</a></li>
        </ul>
    </nav>
</header>

<div id="overlayWeer" onclick="OffWeer()">
    <div id="resolveLight"><a class="weatherwidget-io" href="https://forecast7.com/nl/51d224d40/antwerp/" data-label_1="ANTWERPEN" data-label_2="WEERBERICHT" data-theme="pure" >ANTWERPEN WEERBERICHT</a></div>
    <div id="resolveDark"><a class="weatherwidget-io" href="https://forecast7.com/nl/51d224d40/antwerp/" data-label_1="ANTWERPEN" data-label_2="WEERBERICHT" data-theme="pure" data-basecolor="#252525" data-textcolor="#ffffff" data-highcolor="#fc0606" data-lowcolor="#81c2f0" data-suncolor="#fbe127" data-mooncolor="#ffffff" data-cloudcolor="#ffffff" data-raincolor="#739fbf" >ANTWERPEN WEERBERICHT</a></div>
</div>
<div class="Content">
    <div class="links">
        <a class="link" href="https://learning.ap.be/login/index.php" target="_blank"><div class="linkDiv" >Intranet/Digitap<br><p>Elektronische leeromgeving AP 2019-2020</p></div></a>
        <a class="link" href="https://e-campus.ap.be/vpn/index.html" target="_blank"><div class="linkDiv">E-Campus<br><p>Verkrijg toegang tot je digitale omgeving op de campus</p></div></a>
        <a class="link" href="https://vpn.ap.be/dana-na/auth/url_3/welcome.cgi" target="_blank"><div class="linkDiv">VPN-toegang<br><p>Van thuis uit inloggen op het netwerk en je bestanden openen.</p></div></a>
        <a class="link" href="https://webmail.ap.be" target="_blank"><div class="linkDiv">Webmail<br><p>Je AP-Mail online raadplegen.</p></div></a>
        <a class="link" href="https://ibamaflex.ap.be" target="_blank"><div class="linkDiv">Ibamaflex<br><p>Informatie over je inschrijving en je vakken.</p></div></a>
        <a class="link" href="https://arche.webuntis.com/WebUntis/?school=AP-Hogeschool-Antwerpen#/basic/main" target="_blank"><div class="linkDiv">WebUntis<br><p>Online uurrooster voor alle richtingen</p></div></a>
        <a class="link" href="https://myarts.ap.be" target="_blank"><div class="linkDiv">MyArts<br><p>Online leeromgeving School Of Arts.</p></div></a>
        <a class="link" href="https://ects.ap.be" target="_blank"><div class="linkDiv">ECTS<br><p>Alle ECTS fiches per rchting</p></div></a>
        <a class="link" href="https://wachtwoord.ap.be/" target="_blank"><div class="linkDiv">Wachtwoord Veranderen</div></a>
        <a class="link" href="https://https://stats.ap.be/" target="_blank"><div class="linkDiv">AP Stats</div></a>
    </div>
    <div class="Widgets">
        <div class="Agenda">
                <div id="resolveLight"><a class="weatherwidget-io" href="https://forecast7.com/nl/51d224d40/antwerp/" data-label_1="ANTWERPEN" data-label_2="WEERBERICHT" data-theme="pure" >ANTWERPEN WEERBERICHT</a></div>
               <div id="resolveDark"><a class="weatherwidget-io" href="https://forecast7.com/nl/51d224d40/antwerp/" data-label_1="ANTWERPEN" data-label_2="WEERBERICHT" data-theme="pure" data-basecolor="#252525" data-textcolor="#ffffff" data-highcolor="#fc0606" data-lowcolor="#81c2f0" data-suncolor="#fbe127" data-mooncolor="#ffffff" data-cloudcolor="#ffffff" data-raincolor="#739fbf" >ANTWERPEN WEERBERICHT</a></div>
        </div>
        <div class="Weer">
                <div id="calendar">
                        <p id="calendar-day"></p>
                        <p id="calendar-date"></p>
                        <p id="calendar-month-year"></p>
                </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2019 Verschooren A. - Van Opstal C.</p>
</footer>
